@charset "utf-8";
/*! Modules --------- */
.gallery-a li .price-a{ margin-top: 10px; }

.gallery-b { overflow: hidden; list-style: none; width: 110%; margin: 0; padding: 0; color: #fff; font-family: 'Tinos'; }
.gallery-b li { position: relative; float: left; width: 478px; margin: 0 24px 24px 0; font-size: 3.646em; text-transform: uppercase; }
.gallery-b li a { display: block; position: relative; color: #fff; }
.gallery-b li img { display: block; position: relative; z-index: 1; }
.gallery-b li span { display: block; position: absolute; left: 22px; top: 17px; z-index: 2; float: left; padding: 0 16px 4px; border: 1px solid #fff; }
.gallery-a + .gallery-b { margin-top: -14px; }

.gallery-c { overflow: hidden; list-style: none; width: 105%; margin: 0 0 8px; padding: 0; line-height: 1.4; }
.gallery-c li { position: relative; float: left; width: 312px; margin: 0 16px 16px 0; padding: 2px; background: #fff; color: #fff; font-size: 1.146em; text-transform: uppercase; text-align: center; }
.gallery-c li:nth-child(2n) + li { clear: both; }
.gallery-c li.nth-a + li { clear: both; }
.gallery-c li a { display: block; z-index: 3; color: #fff; }
.gallery-c li a span { display: block; position: absolute; left: 50%; top: 80%; z-index: 2; float: left; height: 44px; margin: -23px 0 0; padding: 0 24px; border: 1px solid #fff; background: rgba(0,0,0,.3); font-size: 1.272em; line-height: 44px; }
.lt-ie9 .gallery-c li a span { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1; }
.gallery-c li > span { position: absolute; left: 20px; right: 20px; top: 50%; z-index: 3; }
.gallery-c li > span span { display: block; position: relative; margin: 0 0 5px; padding: 0 0 1px; font-size: 2.09em; font-family: 'Tinos'; }
.gallery-c li > span span:before { content: ""; display: block; position: absolute; left: 50%; bottom: 0; width: 134px; height: 1px; margin: 0 0 0 -67px; background: #fff; }
.gallery-c li img { display: block; position: relative; z-index: 1; }
.gallery-c li:before { content: ""; display: block; position: absolute; left: 2px; top: 2px; right: 2px; bottom: 2px; z-index: 2; background: rgba(0,0,0,.4); }
.lt-ie9 .gallery-c li:before { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); zoom: 1; }

.gallery-d { list-style: none; padding: 0; color: #767769; line-height: 1.5; text-transform: uppercase; }
.gallery-d li { position: relative; min-height: 108px; padding: 16px 0 16px 111px; border-top: 1px solid #ccc; font-size: 1.25em; }
.gallery-d li:first-child { margin-top: -16px; border: 0; }
.gallery-d li img { position: absolute; left: 0; top: 16px; width: 104px;}
.gallery-d li a { display: -moz-inline-stack; display: inline-block; height: 34px; margin: 9px 0 0; padding: 0 12px 0; border: 1px solid #611906; color: #611906; font-size: 1.166em; line-height: 34px; text-decoration: none; }
.gallery-d li a i, .gallery-c li a span i { margin-right: 1px; }
.gallery-d li a:hover { background: #611906; color: #fff; }
.gallery-d li .title { display: block; margin: 0 0 5px; color: #611906; font-size: 1.25em; font-family: 'Tinos'; line-height: 1.35; }

.gallery-e { overflow: hidden; list-style: none; width: 100%; margin: 24px 0 0; padding: 0; }
.gallery-e li { float: left; }

.module-b { color: #737144; text-align: center; text-transform: uppercase; }
.module-b h1, .module-b h2 { position: relative; margin-bottom: 12px; padding: 0 0 9px; font-size: 3.646em; }
.module-b h1:before, .module-b h2:before { content: ""; display: block; position: absolute; left: 50%; bottom: 0; width: 190px; height: 1px; margin: 0 0 0 -95px; background: #611906; }
.module-b p { font-size: 1.667em; }
.module-b a { color: #b07e09; }
.module-b > * { width: 980px; margin-left: auto; margin-right: auto; }
.module-b > .gallery-e { width: auto; }
.module-b > .gallery-e li { width: 7.1428%; }
.module-b > .gallery-e li img, .module-c img { width: 100% !important; }

.module-c { position: relative; margin: 0 0 22px; color: #fff; font-family: 'Tinos'; line-height: 1.175; text-transform: uppercase; }
.module-c figure { position: relative; z-index: 1; margin: 0; }
/* remove dark fade
.module-c figure:before { content: ""; display: block; position: absolute; left: 0; top: 0; z-index: 2; width: 100%; height: 100%; background: rgba(0,0,0,.5); }
*/
.lt-ie9 .module-c figure:before { background: transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); zoom: 1; }
.module-c figure img { position: relative; z-index: 1; }
.module-c h2 { position: absolute; left: 13px; top: 27px; z-index: 2; float: left; padding: 7px 11px 9px; border: 1px solid #fff; color: #fff; font-size: 2.773em; text-transform: uppercase; }
.module-c > div { position: absolute; left: 13px; bottom: 3px; z-index: 2; padding: 0 155px 0 0; }
.module-c > ul { position: absolute; right: 20px; top: 26px; z-index: 2; list-style: none; padding: 0; font-family: 'Open Sans', Arial, Helvetica, sans-serif; text-align: right; text-transform: none; }
.module-c > ul li { margin: 0 0 9px; font-size: 1.458em; }
.module-c > ul li.rating-a { margin-bottom: 3px;}
.module-c > ul li i { margin-right: 9px; font-size: 19px; }
.module-c .price-a { position: absolute; right: 28px; bottom: 23px; z-index: 3; margin: 0; color: #fff; font-size: 48px; line-height: 1; }
.module-c .price-a span { color: #fff; }
.module-c .link-a { font-size: 1.346em; font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
.module-c .link-a a, .module-c .link-a a i { border-color: #fff; color: #fff; }
.module-c .link-a a:hover, .module-c .link-a a:hover i { background: #fff; color: #611906; }
.module-c p { margin: 0 0 15px; font-size: 2.527em; }

.module-d { overflow: hidden; position: relative; margin-bottom: 22px; color: #333; }
.module-d:before { content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #757768; }
.module-d p { margin-bottom: 30px; font-size: 1.833em; }
.module-d p.link-a { font-size: 1.354em; }
.module-d p.scheme-d { margin-bottom: 17px; font-size: 2.354em; }

.news-a { color: #611906; }
.news-a article { padding: 32px 0 10px; border-top: 1px solid #513926; }
.news-a article:first-child { padding-top: 0; border: 0; }
.news-a article:last-child { padding-bottom: 0; }
.news-a article.last-child { padding-bottom: 0; }
.news-a figure { margin-bottom: 13px; }

.quote-b { position: relative; z-index: 10; margin: 97px 0 30px; padding: 37px 440px 30px 0; background: #a08f56; color: #fff; font-size: 1.458em; }
.quote-b:before { content: ""; display: block; position: absolute; left: -1000em; top: 0; z-index: 1; width: 3000em; height: 100%; background: #a08f56; }
.quote-b:after { content: ""; display: block; position: absolute; left: 50%; top: 100%; width: 31px; height: 16px; margin: 0 0 0 -15.5px; background: url(/theme/Italy/img/sprite-a.png) -74px -140px no-repeat; }
.quote-b > * { position: relative; z-index: 2; }
.quote-b q { display: block; padding: 0 0 30px; font-size: 2.429em; font-family: 'Tinos'; line-height: 1.05; quotes: none; }
.quote-b q:before, .quote-b q:after { content: ""; }
.quote-b > img { position: absolute; right: -28px; bottom: 0; margin: 0; }
.quote-b > span { display: block; overflow: hidden; width: 100%; }
.quote-b > span > span { display: block; float: right; padding: 4px 0 0; text-align: right; }
.quote-b > span > span > span { display: block; text-transform: uppercase; }
.quote-b > span > a { display: block; float: left; padding: 12px 18px; border: 1px solid #fff; color: #fff; text-transform: uppercase; }
.quote-b + .cols-b { margin-top: -30px; }


/*! Lists --------- */


/* Responsive --------- */
@media only screen and (max-width: 1000px) {
    .module-b > * { max-width: 980px; width: 96%; }

    .gallery-b { width: auto; margin-left: -10px; }
    .gallery-b li { width: 50%; margin: 0 0 10px; border-left: 10px solid rgba(0,0,0,0); font-size: 2.8em; }
    .gallery-c { width: auto; }
    .gallery-c li { float: none; width: auto; margin-right: 0; }
    .gallery-c li img, .gallery-b li img { width: 100% !important; }
    .quote-b { padding-right: 50%; }
    .quote-b img { max-width: 50% !important; }
    .quote-b q { font-size: 1.6em; }

    .gallery-b li, .double-a.b > * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
}
@media only screen and (max-width: 900px) {
    .gallery-b { width: auto; margin-left: 0; }
    .gallery-b li { float: none; width: auto; border-left: 0; font-size: 2.8em; }
    .quote-b { padding-right: 0; padding-bottom: 0; }
    .quote-b > img { position: relative; right: 0; max-width: 100% !important; }
    .quote-b > span { padding-bottom: 30px; }
}
@media only screen and (max-width: 760px) {
    .gallery-b { }
    .gallery-b li { font-size: 2.2em; }
    .gallery-b li span { left: 10px; top: 10px; padding-top: 2px; }
    .image-a { font-size: 2.2em; }
    .image-a span { left: 10px; top: 10px; }
    .module-b { }
    .module-b > .gallery-e li { width: 16.666666666%; }
    .module-c { }
    .module-c p { font-size: 2em; }
    .quote-b { }
    .quote-b > span > span { display: block; width: 100%; clear: both; float: none; padding: 0 0 20px; text-align: left; }
    .quote-b > span > a { display: block; float: left; }
}
@media only screen and (max-width: 600px) {
    .module-c { color: #611906; }
    .module-c figure { margin-bottom: 15px; }
    .module-c h2 { position: relative; left: 0; top: 0; float: none; margin: 0 0 20px; padding: 0; border: 0; }
    .module-c > div { position: relative; left: 0; bottom: 0; padding: 0; }
    .module-c > ul { right: 10px; top: 10px; color: #fff; }
    .module-c .price-a, .module-c .price-a span, .module-c h2, .module-c .link-a a, .module-c .link-a a i { color: #611906; }
    .module-c .link-a a, .module-c .link-a a i { border-color: #611906; }
    .module-c .price-a { right: 0; bottom: -10px; }
}
@media only screen and (max-width: 400px) {
    .module-b { }
    .module-b > .gallery-e li { width: 33.333333333%; }
}


/* hero slider */

/*.home-hero {*/
    /*height: auto !important;*/
/*}*/

/*.home-hero .inner div {*/
    /*background-size: auto auto !important;*/
    /*height: auto !important;*/
/*}*/

/*.home-hero .inner .slick-slide {*/
    /*background-size: cover !important;*/
/*}*/

/*.home-hero img {*/
    /*position: absolute;*/
    /*left: auto !important;*/
    /*top: auto !important;*/
/*}*/

/*.slider-text-content {*/
    /*position: absolute !important;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: 0 auto;*/
/*}*/

 /*media queries to fix layouts*/

/*@media screen and (max-width: 1110px) {*/
    /*#featured .slider-text-content header {*/
        /*margin-top: 50px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 830px) {*/
    /*#featured .slider-text-content header h2 {*/
        /*font-size: 2em;*/
    /*}*/

    /*#featured .slider-text-content header p {*/
        /*font-size: 1.3em;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 700px) {*/
    /*#featured .slider-text-content header {*/
        /*margin-top: 15px;*/
    /*}*/

    /*#featured .slider-text-content p.link-a.b {*/
        /*font-size: 1.7em;*/
    /*}*/

/*}*/

/*@media screen and (max-width: 570px) {*/
    /*#featured .slider-text-content header {*/
        /*margin-top: 5px;*/
        /*padding-top: 3px;*/
    /*}*/

    /*#featured .slider-text-content header h2 {*/
        /*font-size: 1.3em;*/
    /*}*/

    /*#featured .slider-text-content header p {*/
        /*display: none;*/
    /*}*/
/*}*/
