@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Constantia';
	src: url('../fonts/constantia/constantia.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Constantia';
	src: url('../fonts/constantia/constantia-bold.ttf') format('truetype');
	font-weight: 600;
}